{% extends "model.html" %}

{% block modelPredict %}DenseNet121 Finetuned 224x224 Size Image — Mammography{% endblock %}
{% block title %}DenseNet121 Finetuned 224x224 Size Image — Mammography{% endblock %}

{% block architecture_image %}
<img src="{{ url_for('static', filename='images/densenet_architecture.jpeg') }}" class="img-fluid img-thumbnail mb-4" alt="Model Architecture">
{% endblock %}


{% block url %}{{ url_for('densenet_mammography_finetuned') }}{% endblock %}

{% block metrics %}
Accuracy   : 0.9372
Precision  : 0.7850
Recall     : 0.7077
F1-score   : 0.7443
ROC-AUC    : 0.9624
{% endblock %}

{% block detailed_report %}
               precision    recall  f1-score   support

           0     0.9572    0.9712    0.9642      4380
           1     0.7850    0.7077    0.7443       650

    accuracy                         0.9372      5030
   macro avg     0.8711    0.8395    0.8543      5030
weighted avg     0.9350    0.9372    0.9358      5030
{% endblock %}

{% block image1 %}
<img src="{{ url_for('static', filename='images/mammography/fine_tune/mammography_densenet_confusion_matrix.png') }}" class="img-fluid img-thumbnail" alt="Confusion Matrix">
{% endblock %}

{% block image2 %}
<img src="{{ url_for('static', filename='images/mammography/fine_tune/mammography_densenet_learning.png') }}" class="img-fluid img-thumbnail" alt="Training Progress">
{% endblock %}

{% block image3 %}
<img src="{{ url_for('static', filename='images/mammography/fine_tune/mammography_densenet_roc_curve.png') }}" class="img-fluid img-thumbnail" alt="ROC Curve">
{% endblock %}

{%block about_project_title %}
About DenseNet121 Finetuned 224x224 Image Size Mammography Model{% endblock %}

{% block about_project_content %}
This model is based on the DenseNet121 architecture, specifically designed for mammography image classification. It has been trained on a dataset of mammogram images to distinguish between normal and abnormal cases. The model achieves high accuracy and robust performance metrics, making it suitable for clinical applications in breast cancer detection.
{% endblock %}
