<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deep Learning Medical Imaging Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>
<body>

    <header class="header">
        <h1>Graduation Project: Deep Learning Medical Imaging Portal</h1>
        <p>Select a modality to explore and make predictions using deep learning models</p>
    </header>

    <a href="{{ url_for('/index') }}"></a>

    <main class="main-content">

        <section class="card-section">

            <a href="{{ url_for('mammography') }}" class="card">
                <h2>Mammography</h2>
            </a>
            <p>Detect anomalies using mammogram images.</p>

            <a href="{{ url_for('ultrasound') }}" class="card">
                <h2>Ultrasound</h2>
            </a>
            <p>Analyze ultrasound images for medical insights.</p>

            <a href="{{ url_for('mri') }}" class="card">
                <h2>MRI</h2>
            </a>
            <p>Run predictions on MRI scan data.</p>

        </section>

        <section class="about-section">
            <h2>About This Project</h2>
            <p>
                This project is a part of a graduation thesis focusing on deploying multiple deep learning models
                trained on different medical imaging datasets. Each model is designed to detect abnormalities
                and provide predictive diagnostics for a specific type of medical image: Mammography, Ultrasound, and MRI.
            </p>
            <p>
                Users can interact with each model by uploading relevant images and receiving AI-driven predictions
                to support medical decision-making and early diagnosis.
            </p>
        </section>

    </main>

    <footer class="footer">
        <p>&copy; 2025 Multimodel Breast Cancer CNN Deep Learning Medical Imaging Project - Kagan Tek</p>
    </footer>

</body>
</html>
