{% extends "base.html" %}
{% block title %}Mammography{% endblock %}

{% block content %}
<section class="container text-center mb-5">
  <h1 class="text-primary">Mammography Models</h1>
  <p>You can choose between 6 models across 2 training principles:</p>
  <div class="row justify-content-center">
    <!-- Initial Unfrozen Card -->
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-light shadow-sm border-0 h-100">
        <div class="card-body">
          <h4 class="card-title text-primary">Initial Unfrozen</h4>
          <a href="{{ url_for('resnet_mammography_initial_unfrozen') }}" class="btn btn-outline-primary btn-block my-2">ResNet50</a>
          <a href="{{ url_for('vgg_mammography_initial_unfrozen') }}" class="btn btn-outline-primary btn-block my-2">VGG16</a>
          <a href="{{ url_for('densenet_mammography_initial_unfrozen') }}" class="btn btn-outline-primary btn-block my-2">DenseNet121</a>
        </div>
      </div>
    </div>
    <!-- Fine-tuned Card -->
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-light shadow-sm border-0 h-100">
        <div class="card-body">
          <h4 class="card-title text-primary">Fine-tuned</h4>
          <a href="{{ url_for('resnet_mammography_finetuned') }}" class="btn btn-outline-primary btn-block my-2">ResNet50</a>
          <a href="{{ url_for('vgg_mammography_finetuned') }}" class="btn btn-outline-primary btn-block my-2">VGG16</a>
          <a href="{{ url_for('densenet_mammography_finetuned') }}" class="btn btn-outline-primary btn-block my-2">DenseNet121</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}