{% extends "base.html" %}
{% block title %} Mammography Models {% endblock %}

{% block content %}
    <main class="main-content">
        <section class="card-section">
            <a href="{{ url_for('resnet_mammography') }}" class="card">
                <h2>ResNet50 Mammography</h2>
            </a>
            <p>ResNet50 CNN Model Trained on DDSM Mammography Dataset.</p>

            <a href="{{ url_for('vgg_mammography') }}" class="card">
                <h2>ResNet50 Ultrasound</h2>
            </a>
            <p>Analyze ultrasound images for medical insights.</p>

            <a href="{{ url_for('densenet_mammography') }}" class="card">
                <h2>Histopathology</h2>
            </a>
            <p>Run predictions on cell histopathology image data.</p>
        </section>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <p>&copy 2025 Multimodel Breast Cancer CNN Deep Learning Medical Imaging Project - Kagan Tek</p>
        <p>Dataset Reference -> DDSM Mammography</p>
    </footer>
{% endblock %}