{% extends "model.html" %}

{% block modelPredict %}ResNet50 Initial Unfrozen — Histopathology{% endblock %}
{% block title %}ResNet50 Initial Unfrozen — Histopathology{% endblock %}

{% block architecture_image %}
<img src="{{ url_for('static', filename='images/resnet_architecture.png') }}" class="img-fluid img-thumbnail mb-4" alt="Model Architecture">
{% endblock %}


{% block url %}{{ url_for('resnet_histopathology_initial_unfrozen') }}{% endblock %}

{% block metrics %}
Accuracy   : 0.8990
Precision  : 0.8695
Recall     : 0.9387
F1-score   : 0.9028
ROC-AUC    : 0.9646
{% endblock %}

{% block detailed_report %}
               precision    recall  f1-score   support

           0     0.9335    0.8592    0.8948      2400
           1     0.8695    0.9387    0.9028      2400

    accuracy                         0.8990      4800
   macro avg     0.9015    0.8990    0.8988      4800
weighted avg     0.9015    0.8990    0.8988      4800
{% endblock %}

{% block image1 %}
<img src="{{ url_for('static', filename='images/histopathology/initial_unfrozen/histopathology_resnet_confusion_matrix.png') }}" class="img-fluid img-thumbnail" alt="Confusion Matrix">
{% endblock %}

{% block image2 %}
<img src="{{ url_for('static', filename='images/histopathology/initial_unfrozen/histopathology_resnet_learning.png') }}" class="img-fluid img-thumbnail" alt="Training Progress">
{% endblock %}

{% block image3 %}
<img src="{{ url_for('static', filename='images/histopathology/initial_unfrozen/histopathology_resnet_roc_curve.png') }}" class="img-fluid img-thumbnail" alt="ROC Curve">
{% endblock %}

{%block about_project_title %}
About ResNet50 Initial Unfrozen Histopathology Model{% endblock %}

{% block about_project_content %}
This model is based on the ResNet50 architecture, specifically designed for histopathology image classification. It has been trained on a dataset of histopathology images to distinguish between normal and abnormal cases. The model achieves high accuracy and robust performance metrics, making it suitable for clinical applications in breast cancer detection.
{% endblock %}
