{% extends "model.html" %}

{% block modelPredict %}ResNet50 — Mammography{% endblock %}

{% block architecture_image %}
<img src="{{ url_for('static', filename='images/resnet_architecture.png') }}" class="img-fluid img-thumbnail mb-4" alt="Model Architecture">
{% endblock %}


{% block url %}{{ url_for('resnet_mammography_finetuned_224') }}{% endblock %}

{% block metrics %}
Accuracy   : 0.9233
Precision  : 0.6964
Recall     : 0.7200
F1-score   : 0.7080
ROC-AUC    : 0.9527
{% endblock %}

{% block detailed_report %}
               precision    recall  f1-score   support

           0     0.9582    0.9534    0.9558      4380
           1     0.6964    0.7200    0.7080       650

    accuracy                         0.9233      5030
   macro avg     0.8273    0.8367    0.8319      5030
weighted avg     0.9244    0.9233    0.9238      5030
{% endblock %}

{% block image1 %}
<img src="{{ url_for('static', filename='images/mammography/fine_tune_224x224/mammography_resnet_confusion_matrix.png') }}" class="img-fluid img-thumbnail" alt="Confusion Matrix">
{% endblock %}

{% block image2 %}
<img src="{{ url_for('static', filename='images/mammography/fine_tune_224x224/mammography_resnet_learning.png') }}" class="img-fluid img-thumbnail" alt="Training Progress">
{% endblock %}

{% block image3 %}
<img src="{{ url_for('static', filename='images/mammography/fine_tune_224x224/mammography_resnet_roc_curve.png') }}" class="img-fluid img-thumbnail" alt="ROC Curve">
{% endblock %}

{%block about_project_title %}
About ResNet50 Mammography Model{% endblock %}

{% block about_project_content %}
This model is based on the ResNet50 architecture, specifically designed for mammography image classification. It has been trained on a dataset of mammogram images to distinguish between normal and abnormal cases. The model achieves high accuracy and robust performance metrics, making it suitable for clinical applications in breast cancer detection.
{% endblock %}
