{% extends "model.html" %}

{% block modelPredict %}VGG16 Finetuned — Histopathology{% endblock %}
{% block title %}VGG16 Finetuned — Histopathology{% endblock %}


{% block architecture_image %}
<img src="{{ url_for('static', filename='images/vgg_architecture.png') }}" class="img-fluid img-thumbnail mb-4" alt="Model Architecture">
{% endblock %}


{% block url %}{{ url_for('vgg_histopathology_finetuned') }}{% endblock %}

{% block metrics %}
Accuracy   : 0.8571
Precision  : 0.8229
Recall     : 0.9100
F1-score   : 0.8643
ROC-AUC    : 0.9318
{% endblock %}

{% block detailed_report %}
               precision    recall  f1-score   support

           0     0.8993    0.8042    0.8491      2400
           1     0.8229    0.9100    0.8643      2400

    accuracy                         0.8571      4800
   macro avg     0.8611    0.8571    0.8567      4800
weighted avg     0.8611    0.8571    0.8567      4800
{% endblock %}

{% block image1 %}
<img src="{{ url_for('static', filename='images/ultrasound/fine_tune/mammography_vgg_confusion_matrix.png') }}" class="img-fluid img-thumbnail" alt="Confusion Matrix">
{% endblock %}

{% block image2 %}
<img src="{{ url_for('static', filename='images/ultrasound/fine_tune/mammography_vgg_learning.png') }}" class="img-fluid img-thumbnail" alt="Training Progress">
{% endblock %}

{% block image3 %}
<img src="{{ url_for('static', filename='images/ultrasound/fine_tune/mammography_vgg_roc_curve.png') }}" class="img-fluid img-thumbnail" alt="ROC Curve">
{% endblock %}

{%block about_project_title %}
About VGG16 Finetuned Mammography Model{% endblock %}

{% block about_project_content %}
This model is based on the VGG16 architecture, specifically designed for mammography image classification. It has been trained on a dataset of mammogram images to distinguish between normal and abnormal cases. The model achieves high accuracy and robust performance metrics, making it suitable for clinical applications in breast cancer detection.
{% endblock %}
