* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-style: 2rem;
}

input, button {
    font-style: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: rgb(252, 110, 110);
}

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.1);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.1);
}